<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>
    <script src="brooklyn-ui/brooklyn-ui.js"></script>
    <link rel="stylesheet" href="brooklyn-ui/brooklyn-ui.css"/>
</head>
<body ng-app="brooklyn-ui-demo" ng-controller="ctrl">
<div class="container">
    <h1>Brooklyn UI</h1>
    <div class="form-group">
        <bk-selectbox placeholder="make your selection" ng-model="x" values="states" display-column="name" sub-column="name" value-column="abbreviation" ng-disabled="disabled.sel1"></bk-selectbox>
    </div>
    <p>The value is <u>{{x}}</u></p>
    <button class="btn btn-danger" ng-click="x = ''">Clear</button>
    <button class="btn btn-success" ng-click="x = 'AX'">Value to 'AX'</button>
    <button class="btn btn-success" ng-click="x = 'AZ'">Value to 'AZ'</button>
    <button class="btn btn-default" ng-click="disabled.sel1 = !disabled.sel1">Toggle disabled ({{disabled.sel1}})</button>
    
    <div class="form-group">
        <bk-selectbox placeholder="colour" ng-model="y" values="colors" value-column="color" display-column="value"></bk-selectbox>
    </div>

    <hr/>
    

    <div class="form-group">
        <bk-textbox placeholder="First Name" ng-model="name" ng-disabled="disabled.text2" />
    </div>
    <p>The value is <u>{{name}}</u></p>
    <button class="btn btn-danger" ng-click="name = ''">Clear</button>
    <button class="btn btn-default" ng-click="disabled.text2 = !disabled.text2">Toggle disabled ({{disabled.text2}})</button>

    <hr/>
    
   <div class="form-group">
        <bk-textarea ng-model="name" placeholder="some stuff" />
    </div>
    
    <hr/>

    <div class="form-group">
        <bk-checkbox ng-model="bool1" caption="Checkbox Numero Uno"></bk-checkbox>
    </div>
    <p>The value is <u>{{bool1}}</u></p>
    <button class="btn btn-danger" ng-click="bool1 = false">Clear</button>

</div>
<script>
function ctrl($scope,$http) {
    $http.get('https://gist.githubusercontent.com/mshafrir/2646763/raw/8b0dbb93521f5d6889502305335104218454c2bf/states_titlecase.json').success(function(response) {
        $scope.states = response;
    });
    $scope.colors = [{color: "red",value: "#f00"},{color: "green",value: "#0f0"},{color: "blue",value: "#00f"},{color: "cyan",value: "#0ff"},{color: "magenta",value:"#f0f"},{color: "yellow",value: "#ff0"},{color: "black",value: "#000"}];
    
    $scope.disabled = {'sel1': 0, 'text2': 1};
}

angular.module('brooklyn-ui-demo', ['brooklyn-ui'])
.controller('ctrl',ctrl);
</script>
</body>
</html>
