<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>
    <script src="brooklyn-ui/brooklyn-ui.js"></script>
    <link rel="stylesheet" href="brooklyn-ui/brooklyn-ui.css"/>
</head>
<body ng-app="brooklyn-ui-demo" ng-controller="ctrl">
<div class="container">
    <div class="page-header">
        <h1>Brooklyn UI</h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            <label>Dropdown</label>
            <div class="form-group">
                <bk-selectbox placeholder="make your selection" ng-model="x" values="states" display-column="name" sub-column="name" value-column="abbreviation" ng-disabled="disabled.sel1"></bk-selectbox>
            </div>
        </div>
        <div class="col-md-4">
            <label>&nbsp;</label>
            <pre>The value is: {{x}}</pre>
            <button class="btn btn-danger" ng-click="x = ''">Clear</button>
            <button class="btn btn-success" ng-click="x = 'AX'">Value to 'AX'</button>
            <button class="btn btn-success" ng-click="x = 'AZ'">Value to 'AZ'</button>
            <span class="checkbox"><label><input type="checkbox" ng-model="disabled.sel1" ng-false-value="0" ng-true-value="1"/><span>Disabled</span></label></span>
        </div>
    </div>
    
    <hr/>
    
    <div class="row">
        <div class="col-md-8">
            <label>Dropdown (custom orderby)</label>
            <div class="form-group">
                <bk-selectbox placeholder="colour" ng-model="y" values="colors" order-by="'color'" value-column="color" display-column="value"></bk-selectbox>
            </div>
        </div>
        <div class="col-md-4">
            <label>&nbsp;</label>
            <pre>order: {{ pprint(colors | orderBy: '-color') }}</pre>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-md-8">
            <label>Textbox</label>
            <div class="form-group">
                <bk-textbox placeholder="First Name" ng-model="name" ng-disabled="disabled.text2" />
            </div>
        </div>
        <div class="col-md-4">
            <label>&nbsp;</label>
            <pre>The value is: {{name}}</pre>
            <button class="btn btn-danger" ng-click="name = ''">Clear</button>
            <span class="checkbox"><label><input type="checkbox" ng-model="disabled.text2" ng-false-value="0" ng-true-value="1"/><span>Disabled</span></label></span>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-md-8">
            <label>Textbox (ngList)</label>
            <div class="form-group">
                <bk-textbox placeholder="Numbers (nglist)" ng-model="numbers2" ng-list />
            </div>
        </div>
        <div class="col-md-4">
            <label>&nbsp;</label>
            <pre>The value is: {{ pprint(numbers2) }}</pre>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-md-8">
            <label>Textarea</label>
            <div class="form-group">
                <bk-textarea ng-model="name" placeholder="some stuff" ng-disabled="disabled.ta" />
            </div>
        </div>
        <div class="col-md-4">
            <label>&nbsp;</label>
            <span class="checkbox"><label><input type="checkbox" ng-model="disabled.ta" ng-false-value="0" ng-true-value="1"/><span>Disabled</span></label></span>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-md-8">
            <label>Checkboxes</label>
            <div class="form-group">
                <bk-checkbox ng-model="bool1" caption="Checkbox Numero Uno"></bk-checkbox>
                <bk-checkbox ng-model="bool2" caption="Checkbox Numero Dos" ng-disabled="disabled.btn2"></bk-checkbox>
            </div>
        </div>
        <div class="col-md-4">
            <label>&nbsp;</label>
            <pre>The value of checkbox1 is {{bool1}}</pre>
            <span class="checkbox"><label><input type="checkbox" ng-model="disabled.btn2" ng-false-value="0" ng-true-value="1"/><span>Disable checkbox 2</span></label></span>
        </div>
    </div>

    <hr/>

</div>
<script>
function ctrl($scope,$http) {
    $http.get('https://gist.githubusercontent.com/mshafrir/2646763/raw/8b0dbb93521f5d6889502305335104218454c2bf/states_titlecase.json').success(function(response) {
        $scope.states = response;
    });
    $scope.colors = [{color: "red",value: "#f00"},{color: "green",value: "#0f0"},{color: "blue",value: "#00f"},{color: "cyan",value: "#0ff"},{color: "magenta",value:"#f0f"},{color: "yellow",value: "#ff0"},{color: "black",value: "#000"}];
    
    $scope.disabled = {'sel1': 0, 'text2': 1, 'btn2': 0, 'ta': 0};

    $scope.pprint = function(val) {
        return JSON.stringify(val);
    }
}

function nl2br($filter) {
    return function(data) {
        if (!data) return data;
        return data.replace(/\n\r?/g, '<br />');
    };
}

angular.module('brooklyn-ui-demo', ['brooklyn-ui'])
.filter('nl2br',nl2br)
.controller('ctrl',ctrl);
</script>
</body>
</html>
